<div class="relative flex justify-center items-center h-screen">
  <div class="content text-white">
    <div class="font-[Hallowed-Grounds] text-9xl">Hello</div>
    <p>see more</p>
  </div>
  
  <div
    class="absolute inset-0 -z-10 bg-cover bg-center transition-all duration-500"
    [style.backgroundImage]="'url(assets/images/goldorak.jpg)'"
    [style.maskImage]="maskStyle"
    [style.webkitMaskImage]="maskStyle"
    [style.maskSize]="maskSize"
    [style.webkitMaskSize]="maskSize"
    [style.maskPosition]="maskPosition"
    [style.webkitMaskPosition]="maskPosition"
  ></div>
</div>